html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#TransparentRevenuesLeftBG {
  background-image: url("/svg/TransparentRevenuesLeftBG.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
